In [5]:
import pandas as pd
import numpy as np

In [79]:

#read from flat excel waste per category percentage
df1_waste_cate_per = pd.read_excel('../source/waste_cate_per.xlsx', 'Sheet 1') 
df2_waste_cate_per = pd.read_excel('../source/waste_cate_per.xlsx', 'Sheet 2')

#read from flat excel waste per category capita
df1_waste_cate_cap = pd.read_excel('../source/waste_cate_capita.xlsx', 'Sheet 1') 
df2_waste_cate_cap = pd.read_excel('../source/waste_cate_capita.xlsx', 'Sheet 2')
#read from flat excel food waste 
df1_food_waste = pd.read_excel('../source/food_waste.xlsx','Sheet 1')
df2_food_waste  = pd.read_excel('../source/food_waste.xlsx','Sheet 2')
df3_food_waste  = pd.read_excel('../source/food_waste.xlsx','Sheet 3')
df4_food_waste  = pd.read_excel('../source/food_waste.xlsx','Sheet 4')


#read from bigquery csv
df_bq_keywords = pd.read_csv('../source/bq_keywords_food_waste.csv')


#read from API csv
df_api_12 = pd.read_csv('../source/api_data12.csv')
df_api_12_3 = pd.read_csv('../source/api_data12_3.csv')

df_top_fruit_veg_wasted = pd.read_csv('../source/top_fruit_veg_wasted.csv')

df_national_fruit = pd.read_csv('../source/national_fruit.csv')
df_country_region = pd.read_csv('../source/country_region.csv')

C:\Users\krant\AppData\Local\Temp\ipykernel_8908\3324755166.py:16: DtypeWarning: Columns (9,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bq_keywords = pd.read_csv('../source/bq_keywords_food_waste.csv')

In [7]:

eu_country = ['Albania',
'Austria',
'Belgium',
'Bosnia and Herzegovina',
'Bulgaria',
'Croatia',
'Cyprus',
'Czechia',
'Denmark',
'Estonia',
'Finland',
'France',
'Germany',
'Greece',
'Hungary',
'Iceland',
'Ireland',
'Italy',
'Latvia',
'Lithuania',
'Luxembourg',
'Malta',
'Montenegro',
'Netherlands (Kingdom of the)',
'North Macedonia',
'Norway',
'Poland',
'Portugal',
'Romania',
'Serbia',
'Slovakia',
'Slovenia',
'Spain',
'Sweden',
'Switzerland',
'TÃ¼rkiye',
'United Kingdom of Great Britain and Northern Ireland','Netherlands Antilles [former]','Kosovo']

In [80]:
#read from flat excel waste per category
 

# Slice rows from index 8 to 48 of df1_waste_cate_per and reset the index, dropping the old index
df_waste_per = df1_waste_cate_per[11:49].reset_index(drop=True)

# Rename the columns of df_waste_per using the values from the 9th row of df1_waste_cate_per
df_waste_per = df_waste_per.rename(columns=df1_waste_cate_per.iloc[7])

# Add a new column named 'year' to df_waste_per and set all values in that column to 2020
df_waste_per['year'] = 2020

# Slice rows from index 8 to 48 of df2_waste_cate_per and reset the index, dropping the old index
df_waste2 = df2_waste_cate_per[11:49].reset_index(drop=True)

# Rename the columns of df_waste2 using the values from the 9th row of df2_waste_cate_per
df_waste2 = df_waste2.rename(columns=df2_waste_cate_per.iloc[7])

# Add a new column named 'year' to df_waste2 and set all values in that column to 2021
df_waste2['year'] = 2021

# Concatenate df_waste_per and df_waste2 vertically, stack them on top of each other, and reset the index, dropping the old index
df_waste_per = pd.concat([df_waste_per, df_waste2]).reset_index(drop=True)

df_waste_per

# First, find the column names that are NaN
nan_columns = df_waste_per.columns[df_waste_per.columns.isna()]

# Then drop these columns
df_waste_per_c = df_waste_per.drop(columns=nan_columns)

df_waste_per_c = df_waste_per_c.rename(columns={'COICOP (Labels)':'country'})
df_waste_per_c.columns = [col.lower().replace(' ', '_') for col in df_waste_per_c.columns]


df_waste_per_c['id'] = df_waste_per_c.apply(lambda row: f'{row["country"].lower()}{row["year"]}', axis=1)
# Assuming 'df_waste_per_c' is your DataFrame and 'column_to_move' is the name of the column you want to move to the first position
column_to_move = 'id'  # Adjust this to the actual name of the column you want to move

# Extract the column you want to move
moved_column = df_waste_per_c[column_to_move]

# Drop the column from its original position
df_waste_per_c = df_waste_per_c.drop(columns=[column_to_move])

# Insert the column at the first position
df_waste_per_c.insert(0, column_to_move, moved_column)

df_waste_per_c['country'].value_counts()
# df_waste_cap_c.to_csv('../source/check.csv',index=False)

country
Belgium                   2
Norway                    2
Portugal                  2
Romania                   2
Slovenia                  2
Slovakia                  2
Finland                   2
Sweden                    2
Iceland                   2
Switzerland               2
Bulgaria                  2
United Kingdom            2
Bosnia and Herzegovina    2
Montenegro                2
North Macedonia           2
Albania                   2
Serbia                    2
Türkiye                   2
Poland                    2
Austria                   2
Netherlands               2
Malta                     2
Czechia                   2
Denmark                   2
Germany                   2
Estonia                   2
Ireland                   2
Greece                    2
Spain                     2
France                    2
Croatia                   2
Italy                     2
Cyprus                    2
Latvia                    2
Lithuania                 2
Luxembourg                2
Hungary                   2
Kosovo*                   2
Name: count, dtype: int64

In [82]:
#read from flat excel waste per category
 

# Slice rows from index 8 to 48 of df1_waste_cate_cap and reset the index, dropping the old index
df_waste_cap = df1_waste_cate_cap[11:49].reset_index(drop=True)

# Rename the columns of df_waste_cap using the values from the 9th row of df1_waste_cate_cap
df_waste_cap = df_waste_cap.rename(columns=df1_waste_cate_cap.iloc[7])

# Add a new column named 'year' to df_waste_cap and set all values in that column to 2020
df_waste_cap['year'] = 2020

# Slice rows from index 8 to 48 of df2_waste_cate_cap and reset the index, dropping the old index
df_waste2_cap = df2_waste_cate_cap[11:49].reset_index(drop=True)

# Rename the columns of df_waste2_cap using the values from the 9th row of df2_waste_cate_cap
df_waste2_cap = df_waste2_cap.rename(columns=df2_waste_cate_cap.iloc[7])

# Add a new column named 'year' to df_waste2_cap and set all values in that column to 2021
df_waste2_cap['year'] = 2021

# Concatenate df_waste_cap and df_waste2_cap vertically, stack them on top of each other, and reset the index, dropping the old index
df_waste_cap = pd.concat([df_waste_cap, df_waste2_cap]).reset_index(drop=True)

df_waste_cap

# First, find the column names that are NaN
nan_columns = df_waste_cap.columns[df_waste_cap.columns.isna()]

# Then drop these columns
df_waste_cap_c = df_waste_cap.drop(columns=nan_columns)

df_waste_cap_c = df_waste_cap_c.rename(columns={'COICOP (Labels)':'country'})
df_waste_cap_c.columns = [col.lower().replace(' ', '_') for col in df_waste_cap_c.columns]


df_waste_cap_c['id'] = df_waste_cap_c.apply(lambda row: f'{row["country"].lower()}{row["year"]}', axis=1)
# Assuming 'df_waste_cap_c' is your DataFrame and 'column_to_move' is the name of the column you want to move to the first position
column_to_move = 'id'  # Adjust this to the actual name of the column you want to move

# Extract the column you want to move
moved_column = df_waste_cap_c[column_to_move]

# Drop the column from its original position
df_waste_cap_c = df_waste_cap_c.drop(columns=[column_to_move])

# Insert the column at the first position
df_waste_cap_c.insert(0, column_to_move, moved_column)




# df_waste_cap_c.to_csv('../source/check.csv',index=False)

In [83]:
# Slice rows from index 12 to 38 of df1_food_waste and reset the index, dropping the old index
df_kilo_capita = df1_food_waste[12:39].reset_index(drop=True)

# Rename the columns of df_kilo_capita using the values from the 9th row of df1_food_waste
df_kilo_capita = df_kilo_capita.rename(columns=df1_food_waste.iloc[9])

# Add a new column named 'year' to df_kilo_capita and set all values in that column to 2020
df_kilo_capita['year'] = 2020

# Slice rows from index 12 to 38 of df2_food_waste and reset the index, dropping the old index
df_kilo_capita2 = df2_food_waste[12:39].reset_index(drop=True)

# Rename the columns of df_kilo_capita2 using the values from the 9th row of df2_food_waste
df_kilo_capita2 = df_kilo_capita2.rename(columns=df2_food_waste.iloc[9])

# Add a new column named 'year' to df_kilo_capita2 and set all values in that column to 2021
df_kilo_capita2['year'] = 2021

# Concatenate df_kilo_capita and df_kilo_capita2 vertically, stack them on top of each other, and reset the index, dropping the old index
df_kilo_capita = pd.concat([df_kilo_capita, df_kilo_capita2]).reset_index(drop=True)

# First, find the column names that are NaN
nan_columns = df_kilo_capita.columns[df_kilo_capita.columns.isna()]

# Then drop these columns
df_kilo_capita_c = df_kilo_capita.drop(columns=nan_columns)
df_kilo_capita_c


df_kilo_capita_c = df_kilo_capita_c.rename(columns={'NACE_R2 (Labels)':'country'})
# Convert column names to lowercase, replace spaces with underscores, and replace parentheses with underscores
df_kilo_capita_c.columns = [col.lower().replace(' ', '_').replace('(', '@').replace(')', '@') for col in df_kilo_capita_c.columns]


df_kilo_capita_c['id'] = df_kilo_capita_c.apply(lambda row: f'{row["country"].lower()}{row["year"]}', axis=1)
# Assuming 'df_kilo_capita_c' is your DataFrame and 'column_to_move' is the name of the column you want to move to the first position
column_to_move = 'id'   # Adjust this to the actual name of the column you want to move

# Extract the column you want to move
moved_column = df_kilo_capita_c[column_to_move]

# Drop the column from its original position
df_kilo_capita_c = df_kilo_capita_c.drop(columns=[column_to_move])

# Insert the column at the first position
df_kilo_capita_c.insert(0, column_to_move, moved_column)
# Insert the column at the first position



#cleaned

# df_kilo_capita_c.to_csv('../source/check.csv',index=False)

In [84]:
# Slice rows from index 10 to 38 of df3_food_waste and reset the index, dropping the old index
df_tonne = df3_food_waste[12:39].reset_index(drop=True)

# Rename the columns of df_tonne using the values from the 9th row of df3_food_waste
df_tonne = df_tonne.rename(columns=df3_food_waste.iloc[9])

# Add a new column named 'year' to df_tonne and set all values in that column to 2020
df_tonne['year'] = 2020

# Slice rows from index 10 to 38 of df4_food_waste and reset the index, dropping the old index
df_tonne2 = df4_food_waste[12:39].reset_index(drop=True)

# Rename the columns of df_tonne2 using the values from the 9th row of df4_food_waste
df_tonne2 = df_tonne2.rename(columns=df4_food_waste.iloc[9])

# Add a new column named 'year' to df_tonne2 and set all values in that column to 2021
df_tonne2['year'] = 2021

# Concatenate df_tonne and df_tonne2 vertically, stack them on top of each other, and reset the index, dropping the old index
df_tonne = pd.concat([df_tonne, df_tonne2]).reset_index(drop=True)


# First, find the column names that are NaN
nan_columns = df_tonne.columns[df_tonne.columns.isna()]

# Then drop these columns
df_tonne_c = df_tonne.drop(columns=nan_columns)






df_tonne_c = df_tonne_c.rename(columns={'NACE_R2 (Labels)':'country'})
# Convert column names to lowercase, replace spaces with underscores, and replace parentheses with underscores
df_tonne_c.columns = [col.lower().replace(' ', '_').replace('(', '@').replace(')', '@') for col in df_tonne_c.columns]


df_tonne_c['id'] = df_tonne_c.apply(lambda row: f'{row["country"].lower()}{row["year"]}', axis=1)
# Assuming 'df_tonne_c' is your DataFrame and 'column_to_move' is the name of the column you want to move to the first position
column_to_move = 'id'   # Adjust this to the actual name of the column you want to move

# Extract the column you want to move
moved_column = df_tonne_c[column_to_move]

# Drop the column from its original position
df_tonne_c = df_tonne_c.drop(columns=[column_to_move])

# Insert the column at the first position
df_tonne_c.insert(0, column_to_move, moved_column)

#claned
df_tonne_c

,id,country,total,"primary_production_of_food_-_agriculture,_fishing_and_aquaculture",manufacture_of_food_products_and_beverages,retail_and_other_distribution_of_food,restaurants_and_food_services,total_activities_by_households,year
0,belgium2020,Belgium,2881897,38699,1862177,73591,88333,819097,2020
1,bulgaria2020,Bulgaria,747941,63621,132817,46639,121867,382997,2020
2,czechia2020,Czechia,972445,27022,100339,64394,37941,742749,2020
3,denmark2020,Denmark,1286488,66452,596599,99500,62544,461392,2020
4,germany2020,Germany,10922321,190203,1612505,762352,1860980,6496282,2020
5,estonia2020,Estonia,166513,23612,31622,19976,10739,80564,2020
6,ireland2020,Ireland,766586,55408,219453,72169,178507,241048,2020
7,greece2020,Greece,2048189,372204,375158,150472,220032,930323,2020
8,spain2020,Spain,4260845,845620,1419257,348219,213023,1434726,2020
9,france2020,France,8713000,1221000,1729000,643000,1096000,4024000,2020
10,croatia2020,Croatia,286379,40916,9866,4180,15072,216345,2020
11,italy2020,Italy,8092591,712773,510018,343535,193915,6332349,2020
12,cyprus2020,Cyprus,354021,43564,169706,50268,27145,63338,2020
13,latvia2020,Latvia,275304,32487,36107,14765,35436,156509,2020
14,lithuania2020,Lithuania,382665,81202,28057,27342,4495,241570,2020
15,luxembourg2020,Luxembourg,92580,7384,10692,8525,8739,57240,2020
16,hungary2020,Hungary,905068,16587,187391,41952,19331,639806,2020
17,malta2020,Malta,79589,759,4668,3910,23016,47235,2020
18,netherlands2020,Netherlands,2811000,463045,1031407,209805,83035,1023708,2020
19,austria2020,Austria,1211534,13879,173734,84326,201956,737639,2020
20,poland2020,Poland,4246787,673160,787017,320396,190293,2275921,2020
21,portugal2020,Portugal,1812307,101384,61719,214233,161399,1273572,2020
22,slovenia2020,Slovenia,143570,93,10757,15290,42666,74764,2020
23,slovakia2020,Slovakia,576694,71889,125219,15825,7110,356650,2020
24,finland2020,Finland,641258,48011,162278,57555,77914,295500,2020
25,sweden2020,Sweden,925000,22000,53000,117000,98000,635000,2020
26,norway2020,Norway,769967,162158,29088,61281,97547,419893,2020
27,belgium2021,Belgium,3034977,34610,2022535,69568,96369,811895,2021
28,bulgaria2021,Bulgaria,711844,60081,131495,41211,117016,362041,2021
29,czechia2021,Czechia,:,:,:,:,:,:,2021
30,denmark2021,Denmark,1344550,57985,607693,99791,72081,507000,2021
31,germany2021,Germany,:,:,:,:,:,:,2021
32,estonia2021,Estonia,170501,18638,41302,13113,12474,84975,2021
33,ireland2021,Ireland,753081,52691,215601,75019,188955,220816,2021
34,greece2021,Greece,:,:,:,:,:,:,2021
35,spain2021,Spain,:,:,:,:,:,:,2021
36,france2021,France,8764000,1244000,1720000,633000,1084000,4083000,2021
37,croatia2021,Croatia,280008,39248,9464,4103,14797,212396,2021
38,italy2021,Italy,8291265,672971,542409,474252,263013,6338620,2021
39,cyprus2021,Cyprus,:,:,:,:,:,:,2021
40,latvia2021,Latvia,245442,30592,32518,16765,28617,136950,2021
41,lithuania2021,Lithuania,390645,81202,29271,33951,4651,241570,2021
42,luxembourg2021,Luxembourg,83622,7235,11333,8861,9466,46727,2021
43,hungary2021,Hungary,883486,12963,159309,57278,19337,634598,2021
44,malta2021,Malta,:,:,:,:,:,:,2021
45,netherlands2021,Netherlands,2586744,315150,1131100,209805,83035,847654,2021
46,austria2021,Austria,1201165,9555,187425,84286,178428,741472,2021
47,poland2021,Poland,4281212,639352,809287,345514,186433,2300626,2021
48,portugal2021,Portugal,1874832,126392,75257,224838,162903,1285442,2021
49,slovenia2021,Slovenia,143254,71,13428,14465,39923,75368,2021
50,slovakia2021,Slovakia,537486,23764,125013,17630,8988,362091,2021
51,finland2021,Finland,693662,49950,158334,57460,80991,346927,2021
52,sweden2021,Sweden,900000,22000,53000,108000,98000,619000,2021
53,norway2021,Norway,777404,177958,28338,69221,94556,407331,2021

In [85]:

#read from text file 
df_composition = pd.read_csv('../source/food_composition.csv')

df_composition
# Convert column names to lowercase, replace spaces with underscores, and replace parentheses with underscores
df_composition.columns = [col.lower().replace(' ', '_').replace('(', '@').replace(')', '@') for col in df_composition.columns]
df_composition

#claned ??
# df_composition.to_csv('../source/check.csv',index=False)

,category,denmark_production,germany_production,italy_production,denmark_manuf,germany_manuf,italy_manuf
0,Meat,0.00,0.00,0.00,20.13,186.69,143.55
1,Fish,136.50,58.06,66.46,27.89,80.37,37.75
2,Dairy,14.90,89.16,33.45,43.63,218.16,139.81
3,Eggs,1.41,14.42,14.76,1.35,16.90,13.59
4,Cereals,2.06,45.06,18.99,16.42,212.97,44.71
5,Fruits,2.02,99.25,811.30,7.81,135.46,679.84
6,Vegetables,26.61,332.97,868.17,24.05,270.29,570.32
7,Potatoes,0.00,0.00,0.00,9.45,192.46,10.97
8,Sugarbeets,0.00,0.00,0.00,0.00,0.00,0.00
9,Oilcrops,1.24,15.18,0.69,0.00,0.01,59.23
10,Total,184.74,654.10,1813.81,148.73,1313.11,1699.78

In [86]:
df_bq_keywords_eu = df_bq_keywords[df_bq_keywords['geoareaname'].isin(eu_country)].reset_index(drop=True)

#DROP EMPTY COLUMN
df_bq_keywords_eu = df_bq_keywords_eu.drop(columns=['cities','education_level','freq','hazard_type','ihr_capacity','level_status','location','migratory_status','mode_of_transportation',
'name_of_international_institution','name_of_non_communicable_disease','sex','tariff_regime_status','type_of_mobile_technology','type_of_occupation','type_of_skill','type_of_speed'])

df_bq_keywords_eu['geoareaname'] = df_bq_keywords_eu['geoareaname'].replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom")


df_bq_keywords_eu['id'] = df_bq_keywords_eu.apply(lambda row: f'{row["geoareaname"].lower()}{row["timeperiod"]}', axis=1)
# Assuming 'df_bq_keywords_eu' is your DataFrame and 'column_to_move' is the name of the column you want to move to the first position
column_to_move = 'id'   # Adjust this to the actual name of the column you want to move

# Extract the column you want to move
moved_column = df_bq_keywords_eu[column_to_move]

# Drop the column from its original position
df_bq_keywords_eu = df_bq_keywords_eu.drop(columns=[column_to_move])

# Insert the column at the first position
df_bq_keywords_eu.insert(0, column_to_move, moved_column)

#claned
df_bq_keywords_eu

,id,goal,target,indicator,seriescode,seriesdescription,geoareacode,geoareaname,timeperiod,value,time_detail,source,footnote,nature,age,bounds,type_of_product,units
0,bulgaria2015,3,3.5,3.5.2,SH_ALC_CONSPT,Alcohol consumption per capita (aged 15 years ...,100,Bulgaria,2015,12.38205,NaN,WHO Global Information System on Alcohol and H...,NaN,G,15+,NaN,NaN,LTPUREAL
1,france2000,3,3.5,3.5.2,SH_ALC_CONSPT,Alcohol consumption per capita (aged 15 years ...,250,France,2000,13.82911,NaN,WHO Global Information System on Alcohol and H...,NaN,G,15+,NaN,NaN,LTPUREAL
2,lithuania2015,3,3.5,3.5.2,SH_ALC_CONSPT,Alcohol consumption per capita (aged 15 years ...,440,Lithuania,2015,15.47114,NaN,WHO Global Information System on Alcohol and H...,NaN,G,15+,NaN,NaN,LTPUREAL
3,hungary2005,3,3.5,3.5.2,SH_ALC_CONSPT,Alcohol consumption per capita (aged 15 years ...,348,Hungary,2005,14.54439,NaN,WHO Global Information System on Alcohol and H...,NaN,G,15+,NaN,NaN,LTPUREAL
4,austria2005,3,3.5,3.5.2,SH_ALC_CONSPT,Alcohol consumption per capita (aged 15 years ...,40,Austria,2005,12.81204,NaN,WHO Global Information System on Alcohol and H...,NaN,G,15+,NaN,NaN,LTPUREAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59060,germany2005,2,2.2,2.2.2,SH_STA_WASTE,Proportion of children moderately or severely ...,276,Germany,2005,1.00000,2003-06 (2005),Die Verbreitung von Übergewicht und Adipositas...,NaN,CA,<5Y,MP,NaN,PER_POP_U5
59061,serbia2005,2,2.2,2.2.2,SH_STA_WASTE,Proportion of children moderately or severely ...,688,Serbia,2005,4.50000,2005-06 (2005),Republic of Serbia multiple indicator cluster ...,NaN,CA,<5Y,MP,NaN,PER_POP_U5
59062,montenegro2005,2,2.2,2.2.2,SH_STA_WASTE,Proportion of children moderately or severely ...,499,Montenegro,2005,4.20000,2005-06 (2005),Montenegro multiple indicator cluster survey 2...,NaN,CA,<5Y,MP,NaN,PER_POP_U5
59063,albania2009,2,2.2,2.2.2,SH_STA_WASTE,Proportion of children moderately or severely ...,8,Albania,2009,9.40000,2008-09 (2009),Albania demographic and health survey 2008-09....,NaN,CA,<5Y,MP,NaN,PER_POP_U5
59064,bosnia and herzegovina2012,2,2.2,2.2.2,SH_STA_WASTE,Proportion of children moderately or severely ...,70,Bosnia and Herzegovina,2012,2.30000,2011-12 (2012),Institute for Public Health [Federation of Bos...,NaN,CA,<5Y,MP,NaN,PER_POP_U5

In [87]:

df_api_12['goal'] = df_api_12['goal'].apply(lambda x: x.replace('[','').replace(']','').replace("'", ''))
df_api_12['target'] = df_api_12['target'].apply(lambda x: x.replace('[','').replace(']','').replace("'", ''))
df_api_12['indicator'] = df_api_12['indicator'].apply(lambda x: x.replace('[','').replace(']','').replace("'", ''))
df_api_12['attributes'] = df_api_12['attributes'].apply(lambda x: x.replace('{','').replace('}','').replace("'", ''))
df_api_12['dimensions'] = df_api_12['dimensions'].apply(lambda x: x.replace('{','').replace('}','').replace("'", ''))
df_api_12['footnotes'] = df_api_12['footnotes'].apply(lambda x: x.replace('[','').replace(']','').replace("'", ''))

# df_api_12['value'] = df_api_12['value'].apply(lambda x: float(x))
df_api_12['value'] = df_api_12['value'].apply(lambda x:int(x))

df_12_eu = df_api_12[df_api_12['geoAreaName'].isin(eu_country)].reset_index(drop=True)

df_12_eu.columns = [col.lower().replace(' ', '_').replace('(', '@').replace(')', '@') for col in df_12_eu.columns]

#DROP EMPTY COLUMN
df_12_eu = df_12_eu.drop(columns=['time_detail','timecoverage','upperbound','lowerbound','geoinfourl'])

df_12_eu['geoareaname'] = df_12_eu['geoareaname'].replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom")

df_12_eu['geoareaname'] = df_12_eu['geoareaname'].replace("Netherlands (Kingdom of the)", "Netherlands")

df_12_eu['timeperiodstart'] = df_12_eu['timeperiodstart'].astype(int)


df_12_eu['id'] = df_12_eu.apply(lambda row: f'{row["geoareaname"].lower()}{row["timeperiodstart"]}', axis=1)
# Assuming 'df_12_eu' is your DataFrame and 'column_to_move' is the name of the column you want to move to the first position
column_to_move = 'id'   # Adjust this to the actual name of the column you want to move

# Extract the column you want to move
moved_column = df_12_eu[column_to_move]

# Drop the column from its original position
df_12_eu = df_12_eu.drop(columns=[column_to_move])

# Insert the column at the first position
df_12_eu.insert(0, column_to_move, moved_column)

#claned
df_12_eu

,id,goal,target,indicator,series,seriesdescription,seriescount,geoareacode,geoareaname,timeperiodstart,value,valuetype,baseperiod,source,footnotes,attributes,dimensions
0,albania2019,12,12.1,12.1.1,SG_SCP_CNTRY,Countries with sustainable consumption and pro...,158,8,Albania,2019,1,Float,NaN,Ministry of Tourism and Environment,,"Nature: C, Units: NUMBER, Observation Status: A",Reporting Type: G
1,belgium2021,12,12.1,12.1.1,SG_SCP_CNTRY,Countries with sustainable consumption and pro...,158,56,Belgium,2021,1,Float,NaN,"Federal Planning Bureau (FPB), Brussels Enviro...",,"Nature: C, Units: NUMBER, Observation Status: A",Reporting Type: G
2,bulgaria2021,12,12.1,12.1.1,SG_SCP_CNTRY,Countries with sustainable consumption and pro...,158,100,Bulgaria,2021,1,Float,NaN,Ministry of Environment and Water,,"Nature: C, Units: NUMBER, Observation Status: A",Reporting Type: G
3,croatia2021,12,12.1,12.1.1,SG_SCP_CNTRY,Countries with sustainable consumption and pro...,158,191,Croatia,2021,1,Float,NaN,Ministry for Economy and Sustainable Development,,"Nature: C, Units: NUMBER, Observation Status: A",Reporting Type: G
4,czechia2019,12,12.1,12.1.1,SG_SCP_CNTRY,Countries with sustainable consumption and pro...,158,203,Czechia,2019,1,Float,NaN,Ministry of Environment,,"Nature: C, Units: NUMBER, Observation Status: A",Reporting Type: G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1597,bulgaria2022,"12, 8","12.2, 8.4","12.2.2, 8.4.2",EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",94414,100,Bulgaria,2022,43890522,Float,NaN,Eurostat,Eurostat estimate,"Nature: C, Units: TONNES, Observation Status: E","Type of product: FOF, Reporting Type: G"
1598,bulgaria2022,"12, 8","12.2, 8.4","12.2.2, 8.4.2",EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",94414,100,Bulgaria,2022,33352696,Float,NaN,Eurostat,Eurostat estimate,"Nature: C, Units: TONNES, Observation Status: E","Type of product: MEO, Reporting Type: G"
1599,bulgaria2022,"12, 8","12.2, 8.4","12.2.2, 8.4.2",EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",94414,100,Bulgaria,2022,25523792597,Float,NaN,Eurostat,,"Nature: C, Units: TONNES, Observation Status: A","Type of product: NFO, Reporting Type: G"
1600,bulgaria2022,"12, 8","12.2, 8.4","12.2.2, 8.4.2",EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",94414,100,Bulgaria,2022,22789912,Float,NaN,Eurostat,Eurostat estimate,"Nature: C, Units: TONNES, Observation Status: E","Type of product: BIM, Reporting Type: G"
1601,bulgaria2022,"12, 8","12.2, 8.4","12.2.2, 8.4.2",EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",94414,100,Bulgaria,2022,164743242,Float,NaN,Eurostat,Eurostat estimate,"Nature: C, Units: TONNES, Observation Status: E","Type of product: ALP, Reporting Type: G"

In [96]:

df_api_12_3['goal'] = df_api_12_3['goal'].apply(lambda x: x.replace('[','').replace(']','').replace("'", ''))
df_api_12_3['target'] = df_api_12_3['target'].apply(lambda x: x.replace('[','').replace(']','').replace("'", ''))
df_api_12_3['indicator'] = df_api_12_3['indicator'].apply(lambda x: x.replace('[','').replace(']','').replace("'", ''))
df_api_12_3['attributes'] = df_api_12_3['attributes'].apply(lambda x: x.replace('{','').replace('}','').replace("'", ''))
df_api_12_3['dimensions'] = df_api_12_3['dimensions'].apply(lambda x: x.replace('{','').replace('}','').replace("'", ''))
df_api_12_3['footnotes'] = df_api_12_3['footnotes'].apply(lambda x: x.replace('[','').replace(']','').replace("'", ''))
df_12_3_eu = df_api_12_3[df_api_12_3['geoAreaName'].isin(eu_country)].reset_index(drop=True)
df_12_3_eu.columns = [col.lower().replace(' ', '_').replace('(', '@').replace(')', '@') for col in df_12_3_eu.columns]

#DROP EMPTY COLUMN
df_12_3_eu = df_12_3_eu.drop(columns=['time_detail','timecoverage','upperbound','lowerbound','baseperiod','geoinfourl'])



df_12_3_eu['timeperiodstart'] = df_12_3_eu['timeperiodstart'].astype(int)

df_12_3_eu['geoareaname'] = df_12_3_eu['geoareaname'].replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom")

df_12_3_eu['geoareaname'] = df_12_3_eu['geoareaname'].replace("Netherlands (Kingdom of the)", "Netherlands")



df_12_3_eu['id'] = df_12_3_eu.apply(lambda row: f'{row["geoareaname"].lower()}{row["timeperiodstart"]}', axis=1)
# Assuming 'df_12_3_eu' is your DataFrame and 'column_to_move' is the name of the column you want to move to the first position
column_to_move = 'id'   # Adjust this to the actual name of the column you want to move

# Extract the column you want to move
moved_column = df_12_3_eu[column_to_move]

# Drop the column from its original position
df_12_3_eu = df_12_3_eu.drop(columns=[column_to_move])

# Insert the column at the first position
df_12_3_eu.insert(0, column_to_move, moved_column)

#clean ??


df_12_3_eu

,id,goal,target,indicator,series,seriesdescription,seriescount,geoareacode,geoareaname,timeperiodstart,value,valuetype,source,footnotes,attributes,dimensions
0,albania2019,12,12.3,12.3.1,AG_FOOD_WST_PC,Food waste per capita (KG),2171,8,Albania,2019,8.298590e+01,Float,Food Waste Index Report / WESR,,"Nature: E, Units: KG, Observation Status: A","Reporting Type: G, Food Waste Sector: HHS"
1,albania2019,12,12.3,12.3.1,AG_FOOD_WST_PC,Food waste per capita (KG),2171,8,Albania,2019,1.263799e+02,Float,Food Waste Index Report / WESR,,"Nature: E, Units: KG, Observation Status: A","Reporting Type: G, Food Waste Sector: ALL"
2,albania2019,12,12.3,12.3.1,AG_FOOD_WST_PC,Food waste per capita (KG),2171,8,Albania,2019,2.771558e+01,Float,Food Waste Index Report / WESR,,"Nature: E, Units: KG, Observation Status: A","Reporting Type: G, Food Waste Sector: OOHC"
3,albania2019,12,12.3,12.3.1,AG_FOOD_WST_PC,Food waste per capita (KG),2171,8,Albania,2019,1.567842e+01,Float,Food Waste Index Report / WESR,,"Nature: E, Units: KG, Observation Status: A","Reporting Type: G, Food Waste Sector: RTL"
4,albania2022,12,12.3,12.3.1,AG_FOOD_WST_PC,Food waste per capita (KG),2171,8,Albania,2022,1.470350e+01,Float,Food Waste Index Report / WESR,Low Confidence,"Nature: E, Units: KG, Observation Status: A","Reporting Type: G, Food Waste Sector: RTL"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,united kingdom2019,12,12.3,12.3.1,AG_FOOD_WST,Food waste (Tonnes),2363,826,United Kingdom,2019,2.836268e+05,Float,Food Waste Index Report / WESR,High Confidence,"Nature: E, Units: TONNES, Observation Status: A","Reporting Type: G, Food Waste Sector: RTL"
955,united kingdom2022,12,12.3,12.3.1,AG_FOOD_WST,Food waste (Tonnes),2363,826,United Kingdom,2022,2.362850e+05,Float,Food Waste Index Report / WESR,High Confidence,"Nature: E, Units: TONNES, Observation Status: A","Reporting Type: G, Food Waste Sector: RTL"
956,united kingdom2022,12,12.3,12.3.1,AG_FOOD_WST,Food waste (Tonnes),2363,826,United Kingdom,2022,5.097005e+06,Float,Food Waste Index Report / WESR,High Confidence,"Nature: E, Units: TONNES, Observation Status: A","Reporting Type: G, Food Waste Sector: HHS"
957,united kingdom2022,12,12.3,12.3.1,AG_FOOD_WST,Food waste (Tonnes),2363,826,United Kingdom,2022,6.426952e+06,Float,Food Waste Index Report / WESR,High Confidence,"Nature: E, Units: TONNES, Observation Status: A","Reporting Type: G, Food Waste Sector: ALL"
958,united kingdom2022,12,12.3,12.3.1,AG_FOOD_WST,Food waste (Tonnes),2363,826,United Kingdom,2022,1.093662e+06,Float,Food Waste Index Report / WESR,High Confidence,"Nature: E, Units: TONNES, Observation Status: A","Reporting Type: G, Food Waste Sector: OOHC"

In [92]:
#clean
df_top_fruit_veg_wasted

     top_fruit_veg_wasted
0   Salad leaves (bagged)
1                 Bananas
2         Lettuce (whole)
3                Cucumber
4                Tomatoes
5                 Carrots
6               Mushrooms
7                  Potato
8                  Grapes
9            Strawberries
10                Spinach
11                 Apples
12                Oranges
13               Broccoli
14                Avocado
15                 Celery
16            Raspberries
17                 Onions
18                Cabbage
19            Blueberries

In [101]:
df_country_region
df_country_region.columns = [col.lower().replace(' ', '_').replace('(', '@').replace(')', '@') for col in df_country_region.columns]
df_country_region


df_country_region['country'] = df_country_region['country'].replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom")

# df_country_region['country'] = df_country_region['geoacountryreaname'].replace("Netherlands (Kingdom of the)", "Netherlands")

df_country_region

                           country           region
0                          Belarus   Eastern Europe
1                         Bulgaria   Eastern Europe
2                          Czechia   Eastern Europe
3                          Hungary   Eastern Europe
4                           Poland   Eastern Europe
5              Republic of Moldova   Eastern Europe
6                          Romania   Eastern Europe
7              Russian Federation†   Eastern Europe
8                         Slovakia   Eastern Europe
9                          Ukraine   Eastern Europe
10                   Åland Islands  Northern Europe
11                         Denmark  Northern Europe
12                         Estonia  Northern Europe
13                   Faroe Islands  Northern Europe
14                         Finland  Northern Europe
15                         Iceland  Northern Europe
16                         Ireland  Northern Europe
17                     Isle of Man  Northern Europe
18                          Latvia  Northern Europe
19                       Lithuania  Northern Europe
20                          Norway  Northern Europe
21  Svalbard and Jan Mayen Islands  Northern Europe
22                          Sweden  Northern Europe
23                  United Kingdom  Northern Europe
24                         Albania  Southern Europe
25                         Andorra  Southern Europe
26          Bosnia and Herzegovina  Southern Europe
27                         Croatia  Southern Europe
28                       Gibraltar  Southern Europe
29                          Greece  Southern Europe
30                        Holy See  Southern Europe
31                           Italy  Southern Europe
32                           Malta  Southern Europe
33                      Montenegro  Southern Europe
34                 North Macedonia  Southern Europe
35                        Portugal  Southern Europe
36                      San Marino  Southern Europe
37                          Serbia  Southern Europe
38                        Slovenia  Southern Europe
39                           Spain  Southern Europe
40                         Austria   Western Europe
41                         Belgium   Western Europe
42                          France   Western Europe
43                         Germany   Western Europe
44                   Liechtenstein   Western Europe
45                      Luxembourg   Western Europe
46                          Monaco   Western Europe
47                     Netherlands   Western Europe
48                     Switzerland   Western Europe

In [102]:
df_national_fruit

                 country  common_name
0                Albania       Cherry
1                Algeria        Dates
2                 Angola         Palm
3    Antigua and Barbuda    Pineapple
4              Argentina        Apple
..                   ...          ...
65  United Arab Emirates        Dates
66        United Kingdom        Apple
67         United States  Blueberries
68               Ukraine  Water Elder
69               Vietnam       Pitaya

[70 rows x 2 columns]

In [103]:

display(df_waste_per_c,df_waste_cap_c,
df_kilo_capita_c,
df_tonne_c,
df_composition,
df_bq_keywords_eu,
df_12_eu,
df_12_3_eu,
df_top_fruit_veg_wasted,
df_national_fruit,
df_country_region)

,id,country,total,"alcoholic_beverages,_tobacco_and_narcotics",clothing_and_footwear,"housing,_water,_electricity,_gas_and_other_fuels","furnishings,_household_equipment_and_routine_household_maintenance",health,transport,communications,recreation_and_culture,education,restaurants_and_hotels,food,non-alcoholic_beverages,miscellaneous_goods_and_services,year
0,belgium2020,Belgium,100,4.4,4,25.5,6.5,6.7,10.1,2.5,7.4,0.4,4.6,13.1,1.1,13.7,2020
1,bulgaria2020,Bulgaria,100,5.7,3.2,20,5.5,7.2,11.7,5.6,7.5,1.3,4.9,19,1.7,6.7,2020
2,czechia2020,Czechia,100,8.4,3.5,28.3,5.6,2.4,9.1,3.2,8,0.5,5.9,15.3,1.7,7.9,2020
3,denmark2020,Denmark,100,3.6,4.1,29.1,6,3,11.3,2.1,11,0.9,4.9,10.7,1.5,11.8,2020
4,germany2020,Germany,100,3.6,3.9,25.6,7.1,5.6,13,2.3,9.5,0.8,3.9,10.4,1.5,12.8,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,north macedonia2021,North Macedonia,100,5.2,4.1,22.9,2.8,2.4,8.5,2.7,4.5,1.1,6.7,27.2,3.4,8.6,2021
72,albania2021,Albania,:,:,:,:,:,:,:,:,:,:,:,:,:,:,2021
73,serbia2021,Serbia,100,8.5,4.4,19.5,4.7,5,11.9,5.5,6,1,3.1,20.6,2.6,7.1,2021
74,türkiye2021,Türkiye,100,3,7,13.1,8.6,2.3,16.1,2.8,7,1.5,7.7,:,:,7.8,2021
75,kosovo*2021,Kosovo*,:,:,:,:,:,:,:,:,:,:,:,:,:,:,2021

,id,country,total,"alcoholic_beverages,_tobacco_and_narcotics",clothing_and_footwear,"housing,_water,_electricity,_gas_and_other_fuels","furnishings,_household_equipment_and_routine_household_maintenance",health,transport,communications,recreation_and_culture,education,restaurants_and_hotels,food,non-alcoholic_beverages,miscellaneous_goods_and_services,year
0,belgium2020,Belgium,217824.9,9490.7,8729.3,55496.5,14208.3,14699.3,22035.2,5458.9,16126.8,784.4,10060.6,28530.7,2374.2,29830,2020
1,bulgaria2020,Bulgaria,36235.8,2057.5,1164.5,7243.8,1998.9,2615.6,4233,2034,2704.4,453.3,1767.5,6900.1,618.2,2445.1,2020
2,czechia2020,Czechia,97229.6,8184.1,3418.1,27562.5,5431.8,2377,8819.3,3118.4,7793.6,488,5775.5,14903,1686.8,7671.4,2020
3,denmark2020,Denmark,140103.2,5096.4,5715,40827.8,8404.1,4253.5,15815.6,2897.4,15349.2,1209.3,6862.2,15029.9,2118.3,16524.5,2020
4,germany2020,Germany,1639588,59152,64661,420033,116994,91230,212906,37885,155937,13649,63402,170672,23778,209289,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,north macedonia2021,North Macedonia,8079.8,419.5,327.7,1849.8,223.1,191.3,688.9,219.9,366.9,88.8,545,2194.8,271.8,692.2,2021
72,albania2021,Albania,:,:,:,:,:,:,:,:,:,:,:,:,:,:,2021
73,serbia2021,Serbia,34851.4,2947,1533.6,6793.7,1637.4,1748,4143.8,1923.7,2106.4,357.7,1092,7167.1,915.6,2485.4,2021
74,türkiye2021,Türkiye,403225.2,12025.4,28046.1,52821.7,34870.5,9223.2,64811.7,11114.8,28144.3,5910,31002.6,:,:,31455.6,2021
75,kosovo*2021,Kosovo*,:,:,:,:,:,:,:,:,:,:,:,:,:,:,2021

,id,country,total,"primary_production_of_food_-_agriculture,_fishing_and_aquaculture",manufacture_of_food_products_and_beverages,retail_and_other_distribution_of_food,restaurants_and_food_services,total_activities_by_households,year
0,belgium2020,Belgium,250,3,161,6,8,71,2020
1,bulgaria2020,Bulgaria,108,9,19,7,18,55,2020
2,czechia2020,Czechia,91,3,9,6,4,69,2020
3,denmark2020,Denmark,221,11,102,17,11,79,2020
4,germany2020,Germany,131,2,19,9,22,78,2020
5,estonia2020,Estonia,125,18,24,15,8,61,2020
6,ireland2020,Ireland,154,11,44,14,36,48,2020
7,greece2020,Greece,191,35,35,14,21,87,2020
8,spain2020,Spain,90,18,30,7,4,30,2020
9,france2020,France,129,18,26,10,16,60,2020
10,croatia2020,Croatia,71,10,2,1,4,53,2020
11,italy2020,Italy,136,12,9,6,3,107,2020
12,cyprus2020,Cyprus,397,49,190,56,30,71,2020
13,latvia2020,Latvia,145,17,19,8,19,82,2020
14,lithuania2020,Lithuania,137,29,10,10,2,86,2020
15,luxembourg2020,Luxembourg,147,12,17,14,14,91,2020
16,hungary2020,Hungary,93,2,19,4,2,66,2020
17,malta2020,Malta,154,1,9,8,45,92,2020
18,netherlands2020,Netherlands,161,27,59,12,5,59,2020
19,austria2020,Austria,136,2,19,9,23,83,2020
20,poland2020,Poland,112,18,21,8,5,60,2020
21,portugal2020,Portugal,176,10,6,21,16,124,2020
22,slovenia2020,Slovenia,68,0,5,7,20,36,2020
23,slovakia2020,Slovakia,106,13,23,3,1,65,2020
24,finland2020,Finland,116,9,29,10,14,53,2020
25,sweden2020,Sweden,89,2,5,11,9,61,2020
26,norway2020,Norway,143,30,5,11,18,78,2020
27,belgium2021,Belgium,262,3,175,6,8,70,2021
28,bulgaria2021,Bulgaria,103,9,19,6,17,53,2021
29,czechia2021,Czechia,:,:,:,:,:,:,2021
30,denmark2021,Denmark,230,10,104,17,12,87,2021
31,germany2021,Germany,:,:,:,:,:,:,2021
32,estonia2021,Estonia,128,14,31,10,9,64,2021
33,ireland2021,Ireland,150,10,43,15,38,44,2021
34,greece2021,Greece,:,:,:,:,:,:,2021
35,spain2021,Spain,:,:,:,:,:,:,2021
36,france2021,France,129,18,25,9,16,60,2021
37,croatia2021,Croatia,71,10,2,1,4,54,2021
38,italy2021,Italy,140,11,9,8,4,107,2021
39,cyprus2021,Cyprus,:,:,:,:,:,:,2021
40,latvia2021,Latvia,130,16,17,9,15,73,2021
41,lithuania2021,Lithuania,139,29,10,12,2,86,2021
42,luxembourg2021,Luxembourg,131,11,18,14,15,73,2021
43,hungary2021,Hungary,91,1,16,6,2,65,2021
44,malta2021,Malta,:,:,:,:,:,:,2021
45,netherlands2021,Netherlands,148,18,65,12,5,48,2021
46,austria2021,Austria,134,1,21,9,20,83,2021
47,poland2021,Poland,113,17,21,9,5,61,2021
48,portugal2021,Portugal,181,12,7,22,16,124,2021
49,slovenia2021,Slovenia,68,0,6,7,19,36,2021
50,slovakia2021,Slovakia,99,4,23,3,2,66,2021
51,finland2021,Finland,125,9,29,10,15,63,2021
52,sweden2021,Sweden,86,2,5,10,9,59,2021
53,norway2021,Norway,144,33,5,13,17,75,2021

,id,country,total,"primary_production_of_food_-_agriculture,_fishing_and_aquaculture",manufacture_of_food_products_and_beverages,retail_and_other_distribution_of_food,restaurants_and_food_services,total_activities_by_households,year
0,belgium2020,Belgium,2881897,38699,1862177,73591,88333,819097,2020
1,bulgaria2020,Bulgaria,747941,63621,132817,46639,121867,382997,2020
2,czechia2020,Czechia,972445,27022,100339,64394,37941,742749,2020
3,denmark2020,Denmark,1286488,66452,596599,99500,62544,461392,2020
4,germany2020,Germany,10922321,190203,1612505,762352,1860980,6496282,2020
5,estonia2020,Estonia,166513,23612,31622,19976,10739,80564,2020
6,ireland2020,Ireland,766586,55408,219453,72169,178507,241048,2020
7,greece2020,Greece,2048189,372204,375158,150472,220032,930323,2020
8,spain2020,Spain,4260845,845620,1419257,348219,213023,1434726,2020
9,france2020,France,8713000,1221000,1729000,643000,1096000,4024000,2020
10,croatia2020,Croatia,286379,40916,9866,4180,15072,216345,2020
11,italy2020,Italy,8092591,712773,510018,343535,193915,6332349,2020
12,cyprus2020,Cyprus,354021,43564,169706,50268,27145,63338,2020
13,latvia2020,Latvia,275304,32487,36107,14765,35436,156509,2020
14,lithuania2020,Lithuania,382665,81202,28057,27342,4495,241570,2020
15,luxembourg2020,Luxembourg,92580,7384,10692,8525,8739,57240,2020
16,hungary2020,Hungary,905068,16587,187391,41952,19331,639806,2020
17,malta2020,Malta,79589,759,4668,3910,23016,47235,2020
18,netherlands2020,Netherlands,2811000,463045,1031407,209805,83035,1023708,2020
19,austria2020,Austria,1211534,13879,173734,84326,201956,737639,2020
20,poland2020,Poland,4246787,673160,787017,320396,190293,2275921,2020
21,portugal2020,Portugal,1812307,101384,61719,214233,161399,1273572,2020
22,slovenia2020,Slovenia,143570,93,10757,15290,42666,74764,2020
23,slovakia2020,Slovakia,576694,71889,125219,15825,7110,356650,2020
24,finland2020,Finland,641258,48011,162278,57555,77914,295500,2020
25,sweden2020,Sweden,925000,22000,53000,117000,98000,635000,2020
26,norway2020,Norway,769967,162158,29088,61281,97547,419893,2020
27,belgium2021,Belgium,3034977,34610,2022535,69568,96369,811895,2021
28,bulgaria2021,Bulgaria,711844,60081,131495,41211,117016,362041,2021
29,czechia2021,Czechia,:,:,:,:,:,:,2021
30,denmark2021,Denmark,1344550,57985,607693,99791,72081,507000,2021
31,germany2021,Germany,:,:,:,:,:,:,2021
32,estonia2021,Estonia,170501,18638,41302,13113,12474,84975,2021
33,ireland2021,Ireland,753081,52691,215601,75019,188955,220816,2021
34,greece2021,Greece,:,:,:,:,:,:,2021
35,spain2021,Spain,:,:,:,:,:,:,2021
36,france2021,France,8764000,1244000,1720000,633000,1084000,4083000,2021
37,croatia2021,Croatia,280008,39248,9464,4103,14797,212396,2021
38,italy2021,Italy,8291265,672971,542409,474252,263013,6338620,2021
39,cyprus2021,Cyprus,:,:,:,:,:,:,2021
40,latvia2021,Latvia,245442,30592,32518,16765,28617,136950,2021
41,lithuania2021,Lithuania,390645,81202,29271,33951,4651,241570,2021
42,luxembourg2021,Luxembourg,83622,7235,11333,8861,9466,46727,2021
43,hungary2021,Hungary,883486,12963,159309,57278,19337,634598,2021
44,malta2021,Malta,:,:,:,:,:,:,2021
45,netherlands2021,Netherlands,2586744,315150,1131100,209805,83035,847654,2021
46,austria2021,Austria,1201165,9555,187425,84286,178428,741472,2021
47,poland2021,Poland,4281212,639352,809287,345514,186433,2300626,2021
48,portugal2021,Portugal,1874832,126392,75257,224838,162903,1285442,2021
49,slovenia2021,Slovenia,143254,71,13428,14465,39923,75368,2021
50,slovakia2021,Slovakia,537486,23764,125013,17630,8988,362091,2021
51,finland2021,Finland,693662,49950,158334,57460,80991,346927,2021
52,sweden2021,Sweden,900000,22000,53000,108000,98000,619000,2021
53,norway2021,Norway,777404,177958,28338,69221,94556,407331,2021

,category,denmark_production,germany_production,italy_production,denmark_manuf,germany_manuf,italy_manuf
0,Meat,0.00,0.00,0.00,20.13,186.69,143.55
1,Fish,136.50,58.06,66.46,27.89,80.37,37.75
2,Dairy,14.90,89.16,33.45,43.63,218.16,139.81
3,Eggs,1.41,14.42,14.76,1.35,16.90,13.59
4,Cereals,2.06,45.06,18.99,16.42,212.97,44.71
5,Fruits,2.02,99.25,811.30,7.81,135.46,679.84
6,Vegetables,26.61,332.97,868.17,24.05,270.29,570.32
7,Potatoes,0.00,0.00,0.00,9.45,192.46,10.97
8,Sugarbeets,0.00,0.00,0.00,0.00,0.00,0.00
9,Oilcrops,1.24,15.18,0.69,0.00,0.01,59.23
10,Total,184.74,654.10,1813.81,148.73,1313.11,1699.78

,id,goal,target,indicator,seriescode,seriesdescription,geoareacode,geoareaname,timeperiod,value,time_detail,source,footnote,nature,age,bounds,type_of_product,units
0,bulgaria2015,3,3.5,3.5.2,SH_ALC_CONSPT,Alcohol consumption per capita (aged 15 years ...,100,Bulgaria,2015,12.38205,NaN,WHO Global Information System on Alcohol and H...,NaN,G,15+,NaN,NaN,LTPUREAL
1,france2000,3,3.5,3.5.2,SH_ALC_CONSPT,Alcohol consumption per capita (aged 15 years ...,250,France,2000,13.82911,NaN,WHO Global Information System on Alcohol and H...,NaN,G,15+,NaN,NaN,LTPUREAL
2,lithuania2015,3,3.5,3.5.2,SH_ALC_CONSPT,Alcohol consumption per capita (aged 15 years ...,440,Lithuania,2015,15.47114,NaN,WHO Global Information System on Alcohol and H...,NaN,G,15+,NaN,NaN,LTPUREAL
3,hungary2005,3,3.5,3.5.2,SH_ALC_CONSPT,Alcohol consumption per capita (aged 15 years ...,348,Hungary,2005,14.54439,NaN,WHO Global Information System on Alcohol and H...,NaN,G,15+,NaN,NaN,LTPUREAL
4,austria2005,3,3.5,3.5.2,SH_ALC_CONSPT,Alcohol consumption per capita (aged 15 years ...,40,Austria,2005,12.81204,NaN,WHO Global Information System on Alcohol and H...,NaN,G,15+,NaN,NaN,LTPUREAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59060,germany2005,2,2.2,2.2.2,SH_STA_WASTE,Proportion of children moderately or severely ...,276,Germany,2005,1.00000,2003-06 (2005),Die Verbreitung von Übergewicht und Adipositas...,NaN,CA,<5Y,MP,NaN,PER_POP_U5
59061,serbia2005,2,2.2,2.2.2,SH_STA_WASTE,Proportion of children moderately or severely ...,688,Serbia,2005,4.50000,2005-06 (2005),Republic of Serbia multiple indicator cluster ...,NaN,CA,<5Y,MP,NaN,PER_POP_U5
59062,montenegro2005,2,2.2,2.2.2,SH_STA_WASTE,Proportion of children moderately or severely ...,499,Montenegro,2005,4.20000,2005-06 (2005),Montenegro multiple indicator cluster survey 2...,NaN,CA,<5Y,MP,NaN,PER_POP_U5
59063,albania2009,2,2.2,2.2.2,SH_STA_WASTE,Proportion of children moderately or severely ...,8,Albania,2009,9.40000,2008-09 (2009),Albania demographic and health survey 2008-09....,NaN,CA,<5Y,MP,NaN,PER_POP_U5
59064,bosnia and herzegovina2012,2,2.2,2.2.2,SH_STA_WASTE,Proportion of children moderately or severely ...,70,Bosnia and Herzegovina,2012,2.30000,2011-12 (2012),Institute for Public Health [Federation of Bos...,NaN,CA,<5Y,MP,NaN,PER_POP_U5

,id,goal,target,indicator,series,seriesdescription,seriescount,geoareacode,geoareaname,timeperiodstart,value,valuetype,baseperiod,source,footnotes,attributes,dimensions
0,albania2019,12,12.1,12.1.1,SG_SCP_CNTRY,Countries with sustainable consumption and pro...,158,8,Albania,2019,1,Float,NaN,Ministry of Tourism and Environment,,"Nature: C, Units: NUMBER, Observation Status: A",Reporting Type: G
1,belgium2021,12,12.1,12.1.1,SG_SCP_CNTRY,Countries with sustainable consumption and pro...,158,56,Belgium,2021,1,Float,NaN,"Federal Planning Bureau (FPB), Brussels Enviro...",,"Nature: C, Units: NUMBER, Observation Status: A",Reporting Type: G
2,bulgaria2021,12,12.1,12.1.1,SG_SCP_CNTRY,Countries with sustainable consumption and pro...,158,100,Bulgaria,2021,1,Float,NaN,Ministry of Environment and Water,,"Nature: C, Units: NUMBER, Observation Status: A",Reporting Type: G
3,croatia2021,12,12.1,12.1.1,SG_SCP_CNTRY,Countries with sustainable consumption and pro...,158,191,Croatia,2021,1,Float,NaN,Ministry for Economy and Sustainable Development,,"Nature: C, Units: NUMBER, Observation Status: A",Reporting Type: G
4,czechia2019,12,12.1,12.1.1,SG_SCP_CNTRY,Countries with sustainable consumption and pro...,158,203,Czechia,2019,1,Float,NaN,Ministry of Environment,,"Nature: C, Units: NUMBER, Observation Status: A",Reporting Type: G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1597,bulgaria2022,"12, 8","12.2, 8.4","12.2.2, 8.4.2",EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",94414,100,Bulgaria,2022,43890522,Float,NaN,Eurostat,Eurostat estimate,"Nature: C, Units: TONNES, Observation Status: E","Type of product: FOF, Reporting Type: G"
1598,bulgaria2022,"12, 8","12.2, 8.4","12.2.2, 8.4.2",EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",94414,100,Bulgaria,2022,33352696,Float,NaN,Eurostat,Eurostat estimate,"Nature: C, Units: TONNES, Observation Status: E","Type of product: MEO, Reporting Type: G"
1599,bulgaria2022,"12, 8","12.2, 8.4","12.2.2, 8.4.2",EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",94414,100,Bulgaria,2022,25523792597,Float,NaN,Eurostat,,"Nature: C, Units: TONNES, Observation Status: A","Type of product: NFO, Reporting Type: G"
1600,bulgaria2022,"12, 8","12.2, 8.4","12.2.2, 8.4.2",EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",94414,100,Bulgaria,2022,22789912,Float,NaN,Eurostat,Eurostat estimate,"Nature: C, Units: TONNES, Observation Status: E","Type of product: BIM, Reporting Type: G"
1601,bulgaria2022,"12, 8","12.2, 8.4","12.2.2, 8.4.2",EN_MAT_DOMCMPT,"Domestic material consumption, by type of raw ...",94414,100,Bulgaria,2022,164743242,Float,NaN,Eurostat,Eurostat estimate,"Nature: C, Units: TONNES, Observation Status: E","Type of product: ALP, Reporting Type: G"

,id,goal,target,indicator,series,seriesdescription,seriescount,geoareacode,geoareaname,timeperiodstart,value,valuetype,source,footnotes,attributes,dimensions
0,albania2019,12,12.3,12.3.1,AG_FOOD_WST_PC,Food waste per capita (KG),2171,8,Albania,2019,8.298590e+01,Float,Food Waste Index Report / WESR,,"Nature: E, Units: KG, Observation Status: A","Reporting Type: G, Food Waste Sector: HHS"
1,albania2019,12,12.3,12.3.1,AG_FOOD_WST_PC,Food waste per capita (KG),2171,8,Albania,2019,1.263799e+02,Float,Food Waste Index Report / WESR,,"Nature: E, Units: KG, Observation Status: A","Reporting Type: G, Food Waste Sector: ALL"
2,albania2019,12,12.3,12.3.1,AG_FOOD_WST_PC,Food waste per capita (KG),2171,8,Albania,2019,2.771558e+01,Float,Food Waste Index Report / WESR,,"Nature: E, Units: KG, Observation Status: A","Reporting Type: G, Food Waste Sector: OOHC"
3,albania2019,12,12.3,12.3.1,AG_FOOD_WST_PC,Food waste per capita (KG),2171,8,Albania,2019,1.567842e+01,Float,Food Waste Index Report / WESR,,"Nature: E, Units: KG, Observation Status: A","Reporting Type: G, Food Waste Sector: RTL"
4,albania2022,12,12.3,12.3.1,AG_FOOD_WST_PC,Food waste per capita (KG),2171,8,Albania,2022,1.470350e+01,Float,Food Waste Index Report / WESR,Low Confidence,"Nature: E, Units: KG, Observation Status: A","Reporting Type: G, Food Waste Sector: RTL"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,united kingdom2019,12,12.3,12.3.1,AG_FOOD_WST,Food waste (Tonnes),2363,826,United Kingdom,2019,2.836268e+05,Float,Food Waste Index Report / WESR,High Confidence,"Nature: E, Units: TONNES, Observation Status: A","Reporting Type: G, Food Waste Sector: RTL"
955,united kingdom2022,12,12.3,12.3.1,AG_FOOD_WST,Food waste (Tonnes),2363,826,United Kingdom,2022,2.362850e+05,Float,Food Waste Index Report / WESR,High Confidence,"Nature: E, Units: TONNES, Observation Status: A","Reporting Type: G, Food Waste Sector: RTL"
956,united kingdom2022,12,12.3,12.3.1,AG_FOOD_WST,Food waste (Tonnes),2363,826,United Kingdom,2022,5.097005e+06,Float,Food Waste Index Report / WESR,High Confidence,"Nature: E, Units: TONNES, Observation Status: A","Reporting Type: G, Food Waste Sector: HHS"
957,united kingdom2022,12,12.3,12.3.1,AG_FOOD_WST,Food waste (Tonnes),2363,826,United Kingdom,2022,6.426952e+06,Float,Food Waste Index Report / WESR,High Confidence,"Nature: E, Units: TONNES, Observation Status: A","Reporting Type: G, Food Waste Sector: ALL"
958,united kingdom2022,12,12.3,12.3.1,AG_FOOD_WST,Food waste (Tonnes),2363,826,United Kingdom,2022,1.093662e+06,Float,Food Waste Index Report / WESR,High Confidence,"Nature: E, Units: TONNES, Observation Status: A","Reporting Type: G, Food Waste Sector: OOHC"

     top_fruit_veg_wasted
0   Salad leaves (bagged)
1                 Bananas
2         Lettuce (whole)
3                Cucumber
4                Tomatoes
5                 Carrots
6               Mushrooms
7                  Potato
8                  Grapes
9            Strawberries
10                Spinach
11                 Apples
12                Oranges
13               Broccoli
14                Avocado
15                 Celery
16            Raspberries
17                 Onions
18                Cabbage
19            Blueberries

                 country  common_name
0                Albania       Cherry
1                Algeria        Dates
2                 Angola         Palm
3    Antigua and Barbuda    Pineapple
4              Argentina        Apple
..                   ...          ...
65  United Arab Emirates        Dates
66        United Kingdom        Apple
67         United States  Blueberries
68               Ukraine  Water Elder
69               Vietnam       Pitaya

[70 rows x 2 columns]

                           country           region
0                          Belarus   Eastern Europe
1                         Bulgaria   Eastern Europe
2                          Czechia   Eastern Europe
3                          Hungary   Eastern Europe
4                           Poland   Eastern Europe
5              Republic of Moldova   Eastern Europe
6                          Romania   Eastern Europe
7              Russian Federation†   Eastern Europe
8                         Slovakia   Eastern Europe
9                          Ukraine   Eastern Europe
10                   Åland Islands  Northern Europe
11                         Denmark  Northern Europe
12                         Estonia  Northern Europe
13                   Faroe Islands  Northern Europe
14                         Finland  Northern Europe
15                         Iceland  Northern Europe
16                         Ireland  Northern Europe
17                     Isle of Man  Northern Europe
18                          Latvia  Northern Europe
19                       Lithuania  Northern Europe
20                          Norway  Northern Europe
21  Svalbard and Jan Mayen Islands  Northern Europe
22                          Sweden  Northern Europe
23                  United Kingdom  Northern Europe
24                         Albania  Southern Europe
25                         Andorra  Southern Europe
26          Bosnia and Herzegovina  Southern Europe
27                         Croatia  Southern Europe
28                       Gibraltar  Southern Europe
29                          Greece  Southern Europe
30                        Holy See  Southern Europe
31                           Italy  Southern Europe
32                           Malta  Southern Europe
33                      Montenegro  Southern Europe
34                 North Macedonia  Southern Europe
35                        Portugal  Southern Europe
36                      San Marino  Southern Europe
37                          Serbia  Southern Europe
38                        Slovenia  Southern Europe
39                           Spain  Southern Europe
40                         Austria   Western Europe
41                         Belgium   Western Europe
42                          France   Western Europe
43                         Germany   Western Europe
44                   Liechtenstein   Western Europe
45                      Luxembourg   Western Europe
46                          Monaco   Western Europe
47                     Netherlands   Western Europe
48                     Switzerland   Western Europe